@import "../../asset/scss/style.scss";

.about_main_container {
  .max_width {
    .about_container {
      .text_container {
        .heading {
        }
        .paira {
        }
      }
      .testimonials_cards_container {
        margin-bottom: 10rem;
        .testimonial_cards {
          display: flex;
          justify-content: space-between;
          column-gap: 2rem;
          @media only screen and (max-width: 1260px) {
            column-gap: 20rem;
            justify-content: center;
            row-gap: 4rem;
            flex-wrap: wrap;
          }
          @media only screen and (max-width: 1020px) {
            column-gap: 10rem;
          }
          @media only screen and (max-width: 810px) {
            column-gap: 5rem;
          }
          @media only screen and (max-width: 766px) {
            column-gap: 2rem;
          }
          @media only screen and (max-width: 550px) {
            row-gap: 6rem;
          }
        }
      }
    }
  }
}
