@import "../../asset/scss/style.scss";

.navbar_main_container {
  background-color: rgba($color: #000000, $alpha: 0.4);
  padding: 0.8rem 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  .max_width {
    .navbar_container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      .logo_container {
        .logo {
          height: 8rem;
          width: 23rem;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            height: 90%;
            width: 90%;
          }
        }
      }
      .links_container {
        .links {
          ul {
            display: flex;
            column-gap: 4rem;
            font-size: 2rem;
            font-weight: 400;
            margin: 0;
            li {
              list-style: none;
              a {
                color: white;
                &:hover {
                  animation: jump 0.5s linear;
                }
              }
            }
          }
        }
      }
      .button_container {
        .button_box {
        }
      }
    }
  }
}

.wobble span {
  display: inline-block;
  pointer-events: none;
}
.wobble span.jump {
  animation: jump 0.5s 1;
}

@keyframes jump {
  50% {
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
  }
}

.contact_us_modal_main_container {
  .ant-modal-content {
    background-color: transparent;
    background-color: none;
    background-image: url("../../asset/image/clipBox.svg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    .ant-modal-body {
    }
  }

  .modal_main_container {
    .modal_overlay {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      background-color: rgba($color: #000000, $alpha: 0.9);
      z-index: 10;
    }
    .form_content {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 50%;
      width: 45%;
      height: 90vh;
      overflow: scroll;
      z-index: 11;

      .image {
        height: 100%;
        width: 100%;
        color: white;
        // background-color: purple;
        padding: 4rem 1rem 2rem 2rem;
        .box_1 {
          position: relative;
          height: 98%;
          width: 98%;
          // border: 0.8px solid rgba($color: $border-color, $alpha: 0.8);
          box-shadow: 0px 0px 4px 0px rgba($color: $border-color, $alpha: 0.3);

          border-radius: 10px;
          transform: rotate(1deg);
          backdrop-filter: saturate(4) blur(2px);
          .box_2 {
            height: 100%;
            width: 100%;
            // border: 0.5px solid rgba($color: $border-color, $alpha: 0.8);
            box-shadow: 0px 0px 4px 0px rgba($color: $border-color, $alpha: 0.3);
            border-radius: 10px;
            transform: rotate(-1.5deg);
            padding: 3.2rem 2rem;

            .form_content_container {
              width: 100%;
              margin-top: 1rem;
              .name_box {
                display: flex;
                column-gap: 1rem;
                // .ant-form-item {
                //   width: 100%;
                //   margin: 0;
                //   .ant-form-item-row {
                //     .ant-form-item-control {
                //       .ant-form-item-control-input {
                //         .ant-form-item-control-input-content {
                //           input {
                //           }
                //         }
                //       }
                //     }
                //   }
                // }
              }
              .submit_btn {
                padding: 0.8rem 7rem;
              }
            }
          }
        }
        .clip {
          img {
            height: 60px;
            width: 70px;
            position: absolute;
            top: 1%;
            left: 5%;
          }
        }
      }
    }
  }
}
