@import "./asset/scss/style.scss";

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}
body a {
  text-decoration: none;
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 550px) {
  html {
    font-size: 40%;
  }
}

.main_bg_image_container {
  .main_bg_image {
    position: fixed;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    object-position: top;
    filter: brightness(0.7);
  }
}
